<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/home**" access="ROLE_USER" />
		<intercept-url pattern="/challengegroups**" access="ROLE_USER" />
		<intercept-url pattern="/settings**" access="ROLE_USER" />
		<intercept-url pattern="/challenges**" access="ROLE_USER" />
		<intercept-url pattern="/subscription**" access="ROLE_USER" />
		<!-- ADMINISTRATION -->
		<intercept-url pattern="/images-managing**" access="ROLE_ADMIN" />

		<form-login 
		    login-page="/signinup"
		    default-target-url="/home"
			authentication-failure-url="/signinup?error"
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/signinup"
				logout-url="/j_spring_security_logout"/>
		 <!--enable csrf protection -->
		<!-- <csrf/> -->
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService" >
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>
