
.menu {
	background-color: #7FC7FF;
	border-radius: 10px;
}

.challenge-view {
	background-color: #7FC7FF;
	border-radius: 15px;
	border: 2px solid #4E4D51;
	margin: 10px;
}

img
{
  width: auto;
  height: auto;
  max-width: 100%;
}

.challenge-img {
	float: left;
	width: 25%;
	height: auto;
	border-radius: 3px;
   /* border: 1px solid grey; */
  padding: 1%;
}

.challenge-info {
  float: right;
  width: 75%;
   /*border: 1px solid grey; */
  padding: 1%;
}






.challenge-head {
	margin-bottom: 50px;
}

.challenge-info {
}