.header {
	background-color: #FFFFFF;

	border-bottom: 2px solid #4E4D51;

	padding-top: 5px;
	margin-bottom: 10px;
	
	font-size: 34px;

	height: 70px;
}

.header .nav i {
  color: #464451;
  font-size: 28px;
}

.header .nav a {
  color: #464451;
  font-size: 28px;
}

.header .nav li {
  display: inline;
  margin: 10px;
}

.main .nav a {
  color: #464451;
  font-size: 28px;
}

.main .nav li {
  display: inline;
  margin: 10px;
}

body {
	background-color: #FFFFFF;
	background-image: url('./../../resources/img/background.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
}

ul {
	list-style-type: none;
}


.linker {
	width: 100%;
	color: #4169E1;
	height: 100%;
}

.soc-net {
	margin: 0px 6px 0px 0px;
	color: inherit;
	padding-left: 5px;
	height: 100%;
	text-decoration: none;
}

.control-label {
	padding: 0px 5px;
}

.btn-default {
	background: #EBEBEB;
	color: #4169E1;
	font-size: 20px;
}

#project {
	text-decoration: none;
	color: inherit;
}

#project:hover{
	color: inherit;
}

.divider {
	width: 1px;
	height: 100%;
	padding: 0;
	background: grey;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom:1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom:13px;
}



.submitForm {
	display: inline-block;
}

.submitForm button,
.submitForm button:focus{
	background: inherit;
	border: none;
	outline: none;
}
.submitForm button:hover {
	color: #23527c;
}

.logoutForm {
	margin: 3px 0;
}

.logoutForm button,
.logoutForm button:focus{
	background: inherit;
	border: none;
	outline: none;
}
.signinupForm button,
.signinupForm button:focus{
	background: inherit;
	border: none;
	outline: none;
}
.signinupForm {
	margin: 3px 0;
}

.trophy {
	margin: 10px;
	padding: 10px;
	background-color: lightblue;
	border: 1px solid grey;
	border-radius: 20px;
	height: 148px;
}
