.nav i {
  color: #5a5a5a;
  font-size: 28px;
}

.nav a {
  color: #5a5a5a;
  font-size: 28px;
}

.nav li {
  display: inline;
  margin: 10px;
}

.heading {
  position: relative;
  margin-left: 25%;
}

.menu ul {
  list-style-type: none;
  font-size: 28px;
  border-right: 1px solid grey;
}

.settings ul {
  list-style-type: none;
  font-size: 18px;
  border-right: 1px solid grey;
}

.challenge {
  border: 1px solid grey;
  margin: 2%;
}

.challenge img{
  max-width: 98%;
  max-height: 98%;
  size: auto;
  margin: 2%;
}

.challenge p{
	font-size: 20;
}

